Cython==0.29.21
Flask==1.1.2
zipp==3.4.0
lockfile==0.12.2
lxml==4.6.1
importlib_metadata==2.0.0
mock==4.0.2
Werkzeug==1.0.1
opencv_python==4.5.1.48
keyring==21.4.0
matplotlib==3.3.2
numpy==1.19.2
brotli==1.0.9
ipaddr==2.2.0
mypy_extensions==0.4.3
ordereddict==1.1
protobuf==3.14.0
pyOpenSSL==20.0.1
simplejson==3.17.2
wincertstore==0.2
