
<!DOCTYPE html>
<html>
  <head>

    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  

   <style>
     html, pre, code,body, kbd, samp {
         font-family: 'Press Start 2P', cursive;
     }
  
     .fc{

      margin:5px;
      }

      #fbuts{
            
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

      }
      
   </style>
  </head>
<body>

<h1 style="text-align: center; margin-top: 2%;">Developed By</h1>

<div class="nes-container  aParent" style="margin-left:15%;margin-right:15%;margin-top: 2%;">
    
    <div class="avatar">
        <img data-src="https://github.com/kaydee0502.png?size=80" alt="Lead Developer" class="nes-avatar is-rounded is-large" src="https://github.com/kaydee0502.png?size=100" style="float: left;">
    </div>
     <div class="profile" >
         <a href="https://github.com/kaydee0502"> <h4 class="name" style="margin-left: 10%;">Kshitij Dhama</h4></a>
          <p style="margin-left: 10%;" >Frontend and Backend</p>
           <div>
            <a href="#" class="nes-badge">
                <span class="is-primary">Python</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-warning">JavaScript</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-dark">Flask</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-error">Tensorflow</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-primary">OpenCV</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-error">Git</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-primary">Docker</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-primary">Azure</span>
              </a>
        </div>
    </div>

</div>


<div class="nes-container  aParent" style="margin-left:15%;margin-right:15%;margin-top: 2%;">
    
    <div class="avatar">
        <img data-src="https://github.com/aakashv8900.png?size=80" alt="Developer" class="nes-avatar is-rounded is-large" src="https://github.com/aakashv8900.png?size=100" style="float: left;">
    </div>
     <div class="profile" >
         <a href="https://github.com/aakashv8900"> <h4 class="name" style="margin-left: 10%;">Aakash Verma</h4></a>
          <p style="margin-left: 10%;" >CI/CD and Deployment</p>
           <div>
            <a href="#" class="nes-badge">
                <span class="is-primary">Python</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-dark">Travis CI</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-primary">OpenCV</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-error">Git</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-primary">Azure</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-dark">YAML</span>
              </a>
        </div>
    </div>

</div>

<div class="nes-container  aParent" style="margin-left:15%;margin-right:15%;margin-top: 2%;">
    
    <div class="avatar">
        <img data-src="https://github.com/AditiDevgan3.png?size=80" alt="Tester" class="nes-avatar is-rounded is-large" src="https://github.com/AditiDevgan3.png?size=100" style="float: left;">
    </div>
     <div class="profile" >
         <a href="https://github.com/AditiDevgan3"> <h4 class="name" style="margin-left: 10%;">Aditi Devgan</h4></a>
          <p style="margin-left: 10%;" >Tester</p>
           <div>
            <a href="#" class="nes-badge">
                <span class="is-primary">Python</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-primary">PyTest</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-dark">Flask</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-error">Git</span>
              </a>
        </div>
    </div>

</div>
    
<h2 style="text-align: center; margin-top: 2%;">Contributors</h2>

<div class="nes-container  aParent" style="margin-left:15%;margin-right:15%;margin-top: 2%;">
    
    <div class="avatar">
        <img data-src="https://github.com/Technopark95.png?size=80" alt="Tester" class="nes-avatar is-rounded is-large" src="https://github.com/Technopark95.png?size=100" style="float: left;">
    </div>
     <div class="profile" >
         <a href="https://github.com/Technopark95"> <h4 class="name" style="margin-left: 10%;">Anoop Singh</h4></a>
          <p style="margin-left: 10%;" >Frontend and APIs</p>
           <div>
            <a href="#" class="nes-badge">
                <span class="is-warning">JavaScript</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-success">REST</span>
              </a>
              <a href="#" class="nes-badge">
                <span class="is-error">AJAX</span>
              </a>
        </div>
    </div>

</div>


<script>


</script>
</body>
</html>
