<html>
<head>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  
</head>
<body>

    <a href = "{{ url_for('gjson') }}">next</a>


    <form action="{{ url_for('gjson') }}", method="POST" id="form1" enctype="multipart/form-data">
        <label for="img" class = "fc">Select image:</label>
        <label class="nes-btn" id="labelimg"><span>Upload</span><input type="file" id="img"  name="img" class="nes-btn"></label>
        <input type="submit" class="nes-btn is-primary" value = "Proceed!">
      </form>
      </div>


    <script>


document.getElementById("form1").onsubmit = async function(e) {


e.preventDefault();  // prevent reload


var formData = new FormData(this);
    
 let rr = await   $.ajax({
      url: "http://127.0.0.1:5000/api/get_json",
      type: "POST",
      data: formData,
      cache: false,
      contentType: false,
      processData: false
    });

    console.log(rr)
    

// let rr = await $.ajax({url:'http://127.0.0.1:5000/fun',type:"GET"})
// console.log(rr);








}

    

    </script>
</body>
</html>
